*{
    box-sizing: border-box;
}
.hero{
   width: 80%;
   margin-left:  1.5rem ;
  
 
}
.wrapper{
    display:flex;
    flex-flow:column nowrap;
    background:hsl(233, 47%, 7%);
    margin: 0px 0px;
    padding:20px 0px 40px 0px;
    
}

.container{
    background:hsl(244, 38%, 16%);
    text-align:center;
    
    margin: 0rem 1.5rem 10rem 1.5rem ;
   padding: 0rem 0rem 0rem 0rem ;

}
.title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color:hsl(0, 0%, 100%);
    font-size:28px;
    margin-top: 2rem;
 
}
    
.par{
    color:hsla(0, 0%, 100%, 0.75);
    font-size:13px;
    line-height: 23px;
    font-family: 'Lexend Deca', sans-serif;
  
    margin-top: 1rem ;
    
     
    
}
.detail-heading{
    color:hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    
    text-transform: uppercase;
}
.detail{
    /* padding:20px 10px 25px 110px  ;
    margin: 0px -100px ; */
    margin: 0rem 0rem 0rem 1.5rem ;
    padding: 0rem 0rem 0rem 0rem ;
font-size:15px;
}
.detail-stat{
    font-size: 20px;
    color:hsl(0, 0%, 100%) ;
    margin:0px 0px;
    padding:0px 0px ;
}

.key-word{
    color:hsl(277, 64%, 61%);
}

@media(min-width:960px) {
    .wrapper{
        display:flex;
        flex-flow:row-reverse nowrap;
        align-items: center;
        padding: 4rem 3rem 8rem 3rem;
        
       
    }
    .hero{
        margin: 5rem 0rem 0rem 0rem ; 
        padding: 0rem 5rem 0em 0rem;
      
    }
    .container{
       
       
        margin: 5rem 0rem 0rem 8rem ; 
        padding: 0rem 5rem 0em 1rem;
       
       
        
    }

    .detail-wrapper{
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-evenly;

}

.detail-heading{
    margin: 0 1.5rem;
}

}

@media(min-width:1200px) {
    .detail-heading{
        margin: 0 1.5rem;
    } 
}