
*{
  box-sizing: border-box;
}
body{
    background-color: hsl(233, 47%, 7%);
    color:white;
    display:grid;
    margin:0;
 }    
    
html,body{
 height: 100vh;
}
   
.wrapper{
  margin:auto;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-flow: dense;
  
  
   /* display: flex;
   flex-flow: row-reverse; */
   
}

figure{
  grid-column:2;
 margin:0;
}






