
*{
  box-sizing: border-box;
}

body{
  background-color: hsl(233, 47%, 7%);
  color:white;
  display:grid;
  margin:0px;
}    
    
html,body{
 height: 100vh;
}
   
.wrapper{
  margin:auto;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-flow: dense; 
  width:70vw;

}

figure{
  grid-column:2;
  margin:0; 
  background-color:hsl(277, 64%, 61%);
}

img{
  width:100%;
}

section{
  background:hsl(244, 38%, 16%);
  
}

h1{
  font-family: 'Inter', sans-serif;
  font-weight:700;
  
}
dt{
  font-family: 'Lexend Deca', sans-serif;
  font-weight:400;
}
p,dd{
  font-family: 'Inter', sans-serif;
  font-weight:400;
}







